.artistsRow {
    margin-left: 20px;
    padding: 20px;
    
    align-items: center;
    z-index: 100;
    color: white;
  }
  
  .artistsRow:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.8;
  }
  
  .artistsRow__info {
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .artistsRow__info > h1 {
    font-size: 16px;
  }
  
  .artistsRow__info > p {
    font-size: 14px;
    margin-top: 3px;
    color: gray;
  }
  
  .artistsRow__album {
    height: 200px;
    width: 200px;
  }